<a href="https://colab.research.google.com/github/marcelozanchetta/EDS104/blob/main/Lab1_Atividade2_Dados_Exploratorios_Introdu%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Laboratório 1 - Atividade 2**

Esse laboratório traz as principais características da Linguagem Python para realização de operações com dados.

---
# **Manipulação de Dados**
---

 **Tipos de Dados**

A biblioteca padrão do Python oferece suporte a vários tipos de dados elementares, incluindo números inteiros, booleanos, pontos flutuantes e cadeias de caracteres. Os tipos de dados mais usados são:

In [ ]:
x = 4              # inteiro
print(x, type(x))
y = True           # boleano(True, False)
print(y, type(y))
z = 3.7            # ponto flutuante
print(z, type(z))
s = "Isso é uma string"  # cadeia de caracteres
print(s, type(s))

**Operações aritméticas**

Operações disponíveis para manipular números inteiros e números de ponto flutuante.

In [ ]:
x = 4            # inteiro
x1 = x + 4       # adição
x2 = x * 3       # multiplicação
x += 2           # equivalente a x = x + 2
x3 = x
x *= 3           # equivalente a x = x * 3
x4 = x
x5 = x % 4       # operador modulo

z = 3.7          # numero ponto flutuante
z1 = z - 2       # subtração
z2 = z / 3       # divisão
z3 = z // 3      # divisão de inteiros
z4 = z ** 2      # elevado ao quadrado
z5 = z4 ** 0.5   # raiz quadrada
z6 = pow(z,2)    # equivalente a raiz de z
z7 = round(z)    # arredondar z para seu inteiro mais próximo
z8 = int(z)      # type casting float para int

print(x,x1,x2,x3,x4,x5)
print(z,z1,z2,z3,z4)
print(z5,z6,z7,z8)

**Operações matemáticas**

Funções fornecidas pelo módulo math para números inteiros e de ponto flutuante

In [ ]:
import math

x = 4
print(math.sqrt(x))      # sqrt(4) = 2
print(math.pow(x,2))     # 4**2 = 16
print(math.exp(x))       # exp(4) = 54.6
print(math.log(x,2))     # log base 2  (padrão)
print(math.fabs(-4))     # valor absoluto
print(math.factorial(x)) # 4! = 4 x 3 x 2 x 1 = 24

z = 1.7
print(math.ceil(z))      # arredonda o elemento Z para o número inteiro mais próximo maior ou igual a esse elemento
print(math.floor(z))     # arredonda o elemento Z para o número inteiro mais próximo menor ou igual a esse elemento
print(math.trunc(z))     # truncado

z = 3*math.pi            # math.pi = 3,141592653589793
print(math.sin(z))       # função seno
print(math.tanh(z))      # função arctan

x = math.nan             # não um número
print(math.isnan(x))

x = math.inf             # infinito
print(math.isinf(x))

**Operaçẽs Lógicas**

Operações disponíveis para booleano:

In [ ]:
y1 = True
y2 = False

print(y1 and y2)       # logical AND
print(y1 or y2)        # logical OR
print(y1 and not y2)   # logical NOT

**Cadeia de Caracteres**

Operações e funções para manipular cadeias de caracteres

In [ ]:
s1 = "Isso"

print(s1[1:])                    # imprime os últimos 3 caracteres
print(len(s1))                               # obtem o tamanho da string
print("O tamanho da string é de " + str(len(s1))) # muda o type casting int para str
print(s1.upper())                            # converte para upper case
print(s1.lower())                            # converte para lower case

s2 = "Essa é uma string"
words = s2.split(' ')             # divide a string em palavras
print(words[0])
print(s2.replace('a','o'))        # troca "a" com "o"
print(s2.replace('uma','nova'))   # troca "uma" por "nova"
print(s2.find("u"))               # encontra a posição de "u" na s2
print(s1 in s2)                   # verifica se s1 é uma substring de s2

print(s1 == 'Carro')              # comparação de igualdade
print(s1 < 'carro')               # comparação de inequalidade
print(s2 + " também")             # concatenar string
print((s1 + " ")* 3)              # replicar a string 3 vezes

estado = s1.isalnum()             # contém caracteres alfanumericos
print(estado)
estado = s1.isdecimal()           # contém caracteres decimais
print(estado)

**Tipos de dados compostos**

São apresentados as operações de como criar e manipular um objeto de lista

In [ ]:
intlist = [1, 3, 5, 7, 9]
print('Tipo de dados', type(intlist))
print(intlist)
intlist2 = list(range(0,10,2))   # nova lista com intervalo[valorInicial, valoFinal, passo]
print(intlist2)

print(intlist[2])                # obter o terceiro elemento da lista
print(intlist[:2])               # obter os primeiros 2 elementos
print(intlist[2:])               # obter os últimos três elementos da lista
print(len(intlist))              # obter o número de elementos na lista
print(sum(intlist))              # soma dos elementos da lista

intlist.append(11)               # inserir 11 ao final da lista
print(intlist)
print(intlist.pop())             # remover último elemento da lista
print(intlist)
print(intlist + [11,13,15])      # concatena duas listas
print(intlist * 3)               # replica a lista
intlist.insert(2,4)              # insere item 4 no indice 2
print(intlist)
intlist.sort(reverse=True)       # ordena a lista na ordem decrescente
print(intlist)

In [ ]:
mylist = ['isso', 'é', 'uma', 'lista']
print(mylist)
print('Dados do tipo', type(mylist))

print("lista" in mylist)         # verifica se "lista" esta na minha lista
print(mylist[2])                 # mostra o terceiro elemento da lista
print(mylist[:2])                # mostra os 2 primeiros elementos da lista
print(mylist[2:])                # mostra os dois últimos elementos da lista
mylist.append('também')          # insere um elemento no final da lista

separator = " "
print(separator.join(mylist))    # une todos os elementos da lista numa cadeia de caracteres

mylist.remove("é")              # remove elemento da lista
print(mylist)

Os exemplos a seguir mostram como criar e manipular um objeto de dicionário

In [ ]:
abbrev = {}                    #criação do dicionário com as chaves
abbrev['UB'] = "Uberlândia"
abbrev['BR'] = "Brasilia"
abbrev['AR'] = "Araguari"
abbrev['CA'] = "Campinas"

print(abbrev)
print(abbrev.keys())            # obter a chave do dicionário
print(abbrev.values())          # obter os valores do dicionário
print(len(abbrev))              # obter o número de chaves

print(abbrev.get('CA'))         # operações de acesso a valores em dicionários
print("UB" in abbrev)           # verifica no dicionário
print("UF" in abbrev)

keys = ['maças', 'laranjas', 'bananas', 'uvas']
values = [3, 4, 2, 10]
frutas = dict(zip(keys, values))   #juntar duas listas e cria o dicionário
print(frutas)
print(sorted(frutas))     # ordenar as chaves do dicionário

from operator import itemgetter # index das posições dos elementos em um conjunto de funções do módulo "operator"
print(sorted(frutas.items(), key=itemgetter(0)))    # ordenar por chave do dicionário
print(sorted(frutas.items(), key=itemgetter(1)))    # ordenar por valor do dicionário

In [ ]:
MItuple = ('MG', 'Minas Gerais', 'Belo Horizonte')
CAtuple = ('SP', 'São Paulo', 'São Paulo')
TXtuple = ('GO', 'Goiás', 'Goiania')

print(MItuple)
print(MItuple[1:])

states = [MItuple, CAtuple, TXtuple]    # isso irá criar uma lista de tuplas
print(states)
print(states[0])
print(states[1][0])
print(states[2][1:])

#Lambda usado para ordenar
states.sort(key=lambda state: state[2])  # busca os estados pela cidade da capital
print(states)

**Fluxo de controle**

Semelhante a outras linguagens de programação, as instruções de fluxo de controle em Python incluem instruções if, for e while.

In [ ]:
# estrutura if-else
x = 0

if x > 0:
    print("x =", x, "é positivo")
elif x < 0:
    print("x =", x, "é negativo")
else:
    print("x =", x, "não é positivo ou negativo")

x = 0 não é positivo ou negativo

In [ ]:
# estrutura de loop
mylist = ['Essa', 'é', 'uma', 'lista']

for word in mylist:
   print(word.replace("lista", "tabela"))

print('Número de caracteres de cada elemento')
mylist2 = [len(word) for word in mylist]   # número de caracteres
print(mylist2)

# usando o loop com a lista das tuplas
states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'),
          ('TX', 'Texas', 'Austin')]

sorted_capitals = [state[2] for state in states]
sorted_capitals.sort()
print(sorted_capitals)

# usando o loop com dicionários
fruits = {'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
fruitnames = [v for (k,v) in fruits.items()] # k chave e v quantidade usando a chave items e traz cada item pelo valor v
print(fruitnames)

In [54]:
# usando while
mylist = list(range(-10,10))
print(mylist)

i = 0
while (mylist[i] < 0):
    i = i + 1

print(i)
print("Primeiro número não negativo:", mylist[i])

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
10
Primeiro número não negativo: 0

**Função**

Para criar suas próprias funções no Python, que podem ser nomeadas ou não nomeadas. Use a palavra reservada lambda e atribua o comportamento de função a um objeto, ou seja, é uma forma de declarar funções não nomeadas.

In [ ]:
minhafuncao = lambda x: 3*x**2 - 2*x + 3 # exemplo de uma função quadrática

print(minhafuncao(2))

11

In [ ]:
def f(x):
    return x**2

O mesmo exemplo utilizando uma função lambda:

In [ ]:
f = lambda x: x**2

**Gravação de Arquivo**

Ler e gravar dados de uma lista ou de outros objetos em um arquivo.

In [ ]:
states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'),
          ('TX', 'Texas', 'Austin'), ('MN', 'Minnesota', 'St Paul')]

with open('estados.txt', 'w') as f:
    f.write('\n'.join('%s,%s,%s' % state for state in states))

with open('estados.txt', 'r') as f:
    for line in f:
        fields = line.split(sep=',')    # divide cada linha dentro de seus respectivos campos
        print('Estado:',fields[1],'(',fields[0],')','Capital:', fields[2])

---
# **Exercícios**
---

1) Crie os arrays diretamente nos seguintes padrão e verificar os resultados. Para visualizar o resultado use o comando “print”.

a) A = [[1, 4, 5, 12], \
       [-5, 8, 9, 0], \
       [-6, 7, 11, 19]]\
b) B = [[16, 8, 2, 4],
       [5, 7, 8, 11],
       [20, 30, 40, 50]]\
c) C = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 8, 8,  9], [8, 7, 7, 8], [4,  5, 9,  8]]

2) Crie scripts para trabalhar com vetores contendo: \
a) Todos os valores de 1 a 20;\
b) Todos os valores pares de 1 a 20;\
c) Todos os valores ímpares de 1 a 20;\
d) Valores de 0 a 1, intervalados de 0.1.

3) Construa um script que simule um caixa eletrônico em que o usuário pode realizar operações de deposito, sque e consulta. No entanto, na primeira interação deve realizar ao operação de deposito. Utilize estrutura de loop while para controlar as operações e garantir que o saldo não seja negativo.

4) Construa um script que leia um arquivo .CSV com dados de vendas (produto, data, valor). O arquivo deve ser criado manualmente para manipulação das informações. Utilize uma estrutura de loop for para calcular o total de vendas por produto, por data e por mês. Faça buscas da data de maior venda e menor venda dos produtos.

5) Escreva um script que insira três números inteiros do usuário. Exiba a soma, a média, o produto, o menor e o maior dos números.

6) Escreva um script que receba um valor e implemente uma função fahrenheit que retorne o equivalente em equivalente em Fahrenheit de uma temperatura Celsius. Use a seguinte fórmula:

F = (9 / 5) * C + 32

7) Use uma ferramenta de tradução on-line, como o Google Translate, para traduzir palavras em inglês para outro idioma. Crie um dicionário de traduções que mapeie as palavras em inglês para suas traduções. Exiba uma tabela de traduções em duas colunas.

8) Usando os seguintes conjuntos:
*  {'red', 'green', 'blue'}
*  {'cyan', 'green', 'blue', 'magenta', 'red'}

exiba os resultados de:

a) comparar os conjuntos usando cada um dos operadores de comparação.

b) combinar os conjuntos usando cada um dos operadores de conjuntos matemáticos.