<a href="https://colab.research.google.com/github/marcelozanchetta/EDS104/blob/main/lab1_atividade2_dados_exploratorios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Manipulação de Dados**

A biblioteca padrão do Python oferece suporte a vários tipos de dados elementares, incluindo números inteiros, booleanos, pontos flutuantes e cadeias de caracteres. Os tipos de dados mais comuns são mostrados

In [ ]:
x = 4              # inteiro
print(x, type(x))
y = True           # boleano(True, False)
print(y, type(y))
z = 3.7            # ponto flutuante
print(z, type(z))
s = "This is a string"    # cadeia de caracteres
print(s, type(s))

4 <class 'int'>
True <class 'bool'>
3.7 <class 'float'>
This is a string <class 'str'>